body {
  margin: 0;
}

div.admyn {
  .margin {
    margin: 0.5em;
  }

  ul.databases, ul.tables {
    padding: 0;
  }

  div.table-structure {
    margin: auto;
  }

  div.rows {
    flex-direction: column;
    align-items: center;
    display: flex;

    >section.md-tabs-container {
      width: 100%;
    }

    >div.table-data {
      width: calc(100vw - 2em);
      overflow: auto;

      td {
        cursor: pointer;
      }
    }

    >div.pagination {
      padding: 1em;
    }

    >span > div.md-dialog--centered {
      overflow: auto;
    }

    div.custom-query {
      display: flex;
      padding: 0.2em;
      align-items: center;
      flex-direction: column;

      >div.md-text-field-container {
        width: 100%;
        margin: 0;
      }
    }
  }

  section.row-form {
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    display: flex;

    >button {
      margin-top: 1em;
    }
  }
}